#contact_modal {
    display: none;
    position: fixed; /* Fixer la modale pour qu'elle s'affiche au-dessus de tout */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(241, 239, 239, 0.374); /* Arrière-plan semi-transparent */
    z-index: 1000; /* Assure-toi que la modale est au-dessus des autres éléments */
}

.photograph-header {
    background-color: #FAFAFA;
    height: 250px;
    position : relative; 
    margin: 0 100px;

}

.contact_button {
    
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease;
}
.contact_button:hover {
  background-color: #DB8876; /* Couleur au survol */

}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: relative;
    z-index: 1001; /* La modale elle-même est au-dessus de l'arrière-plan */
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%); /* Pour centrer la modale */
    margin-bottom: 150px;

}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none; /* Cacher les messages par défaut */
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
}

form textarea {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 5px;
    resize: none;
    font-size: 30px;
}

#media-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 40px 100px;

}


.media-item img{
width: 350px;
width: 100%;
height: 300px;
object-fit: cover;
border-radius: 10px;
cursor: pointer;
}

.media-item video{
width: 350px;
height: 300px;
object-fit: cover;
border-radius: 10px;
width: 100%;
cursor: pointer;
}

.media-info{
  display: flex;
  justify-content: space-between;
 width: 100%;
  color: #901C1C;
}

.media-info h3 {
  margin-top: 16px;
}
.likes-container{
display: flex;
color: #901C1C;
}
.fa-heart{
  margin-top: 18px;
  margin-left: 5px;
  color: #901C1C;
}

nav{
    margin: 20px 100px ;
    display: flex;
    

}
select {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    margin-left: 10px;
cursor: pointer;
}
.tri {
    font-weight: bold;
    font-size: 20px;
}
  
  .photographer-header-info img{
    width: 200px; /* Largeur de la photo */
    height: 200px; /* Pour conserver le ratio d'aspect */
    border-radius: 50%; /* Pour rendre l'image circulaire */
    object-fit: cover;
    margin-top : 20px;
    margin-bottom: 20px;
  }
 

  .photographer-header-info{
    display: flex;
    flex-direction: row-reverse;
   justify-content: space-between;
    margin : 0 25px;

  }
  .lightbox {
    display: none; /* Masquée par défaut */
    position: fixed;
    top: 50%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    width: 1240px; /* Largeur de la Lightbox */
    height: 950px; /* Hauteur de la Lightbox */
    background-color: rgba(249, 248, 248, 1); /* Couleur de fond semi-transparente */
    transform: translate(-50%, -50%); /* Centrage complet */
    justify-content: center; /* Centre le contenu */
    align-items: center; /* Centre le contenu */
    z-index: 1000; /* S'assure qu'elle est au-dessus des autres éléments */
  }


  
  .lightbox[aria-hidden="false"] {
    display: flex; /* Affiche la Lightbox lorsque aria-hidden est faux */
  }
  
  .lightbox-content {
    position: relative;
    width: 1050px; /* Largeur maximale pour les médias */
    height: 850px; /* Hauteur maximale pour les médias */
    overflow: hidden; /* Cache tout débordement */
    color: #901C1C;
  }
  
  #lightbox-image, #lightbox-video {
    width: 1050px; /* Largeur fixe de l'image ou de la vidéo */
    height: 800px; /* Hauteur fixe de l'image ou de la vidéo */
    display: block; /* Assure que l'élément est un bloc */
    margin: auto; /* Centre l'image ou la vidéo */
    object-fit: cover; /* S'assure que l'image/remplissage s'adapte correctement */
  }
  
  /* .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #901C1C;
    font-size: 2rem;
    font-weight: 200;
    cursor: pointer;
    z-index: 1001; /* Assure que le bouton est au-dessus 
  } */
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #901C1C;
    font-size: 4rem;
    cursor: pointer;
    z-index: 1001; /* Assure que les flèches sont au-dessus */
  }
  
  .prev {
    left: 10px; /* Position de la flèche précédente */
  }
  
  .next {
    right: 10px; /* Position de la flèche suivante */
  }
  
  /* DOIT FAIRE CA QUAND ON A TROUVER COMMENT METTRE LE TITRE */
  .lightbox-caption {
    position: absolute; /* Positionnement absolu pour le placer dans la Lightbox */
    bottom: 10px; /* Distance du bas de la Lightbox */
    left: 17%; /* Centre horizontalement */
    transform: translateX(-50%); /* Centre la caption */
    color: #901C1C; /* Couleur du texte */
    font-size: 1.2rem; /* Taille de la police */
    text-align: center; /* Centre le texte */
    /* Fond semi-transparent pour la lisibilité */
    padding: 5px; /* Espacement intérieur */
    border-radius: 5px; /* Coins arrondis */
  }

  .photographer-likes {
    position: fixed;
    bottom: 0;
    right: 30px;
    font-size: 18px;
    font-weight: bold;
    background-color: #DB8876;
    padding: 8px;
    border-radius: 8px 8px 0 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    display: flex; /* Ajoute flexbox */
  justify-content: space-between; /* Espace les éléments aux extrémités */
  align-items: center; /* Aligne les éléments verticalement au centre */
   
  }

  .photographer-likes .black-heart {
    color: black; /* Définit la couleur du cœur en noir dans l'encart */
    margin-bottom: 15px;
  }
  
span{
  font-size: 1.5rem;
  font-weight: 900;
 
  
}



.photographer-header-info h1 {
  color: #DB8876; /* Couleur pour le h1 */
  font-size: 3rem;
  margin-bottom: 15px;
}

.photographer-header-info h2 {
  color: #901C1C; /* Couleur pour le h2 */
  font-size: 1.5rem;
  margin-top: 5px;
}

 .submit_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  position: relative; /* Garde le bouton en position normale dans le flux 
  margin-top: 20px; /* Assure qu'il reste en bas */
} 

.lightbox .close-lightbox {
  position: absolute;
  top: 20px; /* Ajustez selon vos besoins */
  right: 20px; /* Ajustez selon vos besoins */
  width: 32px; /* Ajustez la taille selon vos besoins */
  height: 32px; /* Ajustez la taille selon vos besoins */
  cursor: pointer;
  z-index: 1001;
  filter: none; /* Enlevez les filtres précédents */
}

.lightbox .close-lightbox {
  color: #901C1C;
  font-size: 44px; /* Ajustez selon vos besoins */
}


/* MES BOUTONS POUR LA SELECTION DE FILTRES */

.sort-container {
  display: flex;
  align-items: center;
}

.tri {
  margin-right: 10px;
  font-size: 18px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.submit_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  border-bottom: 1px solid white;
  background-color: #901C1C;
  /* border-bottom: 1px solid white;  Pas fini pour la bordure, je dois mettre un width de 90% */
    z-index: 1000; /* Utilisez une valeur élevée */
  cursor: pointer;
  margin-bottom: 0; /* Petit espace entre les boutons */
 
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  
}

.dropdown-content .submit_button {
  margin-top: 0; /* Petit espace entre les boutons */
}

.show {
  display: block;
}

